<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.wallaceit.reddinator"
    android:versionCode="8"
    android:versionName="2.0">

<uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="au.com.wallaceit.reddinator.GlobalObjects"
        android:allowBackup="true"
        android:icon="@drawable/reddit_icon_small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="au.com.wallaceit.reddinator.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.wallaceit.reddinator.PrefsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.wallaceit.reddinator.SubredditSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="au.com.wallaceit.reddinator.ViewAllSubredditsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="au.com.wallaceit.reddinator.ViewRedditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="au.com.wallaceit.reddinator.Rservice"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <receiver
            android:name="au.com.wallaceit.reddinator.WidgetProvider"
            android:enabled="true" >
            <intent-filter>
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.ITEM_CLICK" />
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.APPWIDGET_AUTO_UPDATE" />
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.APPWIDGET_UPDATE_FEED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

    </application>

</manifest>
