<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.wallaceit.reddinator"
    android:versionCode="24"
    android:versionName="2.8">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".GlobalObjects"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/reddit_icon_small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ThemesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_themes" />
        <activity
            android:name=".ThemeEditorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_theme_editor" />
        <activity
            android:name=".SubredditSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewAllSubredditsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ViewRedditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".SubmitActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/submit" >
            <intent-filter
                android:label="Share with Reddit">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OAuthView"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <service
            android:name=".WidgetService"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".MailCheckService"
            android:enabled="true" />

        <receiver
            android:name=".WidgetProvider"
            android:enabled="true" >
            <intent-filter>
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.ITEM_CLICK" />
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.APPWIDGET_AUTO_UPDATE" />
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.APPWIDGET_UPDATE_FEED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>
        <receiver
            android:name=".MailCheckReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="reddinator.background.mailcheck" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
