<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.wallaceit.reddinator"
    android:versionCode="27"
    android:versionName="2.91">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Needed by some webview HTML5 video implementations (Bug report received for Android 4.1) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Reddinator"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/reddit_icon_small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PrefsActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.ThemesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_themes" />
        <activity
            android:name=".activity.ThemeEditorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_theme_editor" />
        <activity
            android:name=".activity.SubredditSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewAllSubredditsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ViewRedditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SubmitActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/submit"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/share_with_reddit">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OAuthView"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />

        <service
            android:name=".service.WidgetService"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.MailCheckService"
            android:enabled="true" />

        <receiver
            android:name=".service.WidgetProvider"
            android:enabled="true">
            <intent-filter>
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.ITEM_CLICK" />
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.APPWIDGET_AUTO_UPDATE" />
                <action android:name="au.com.wallaceit.redinator.WidgetProvider.APPWIDGET_UPDATE_FEED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>
        <receiver
            android:name=".service.MailCheckReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="reddinator.background.mailcheck" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.WidgetItemDialogActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>
