body {
    margin:0;
}
#container {
    padding-left:7px;
    padding-right:7px;
    overflow-x: hidden;
}
.comment_box, .more_box, .reply_expand {
    border: 2px solid #D7D7D7;
    border-radius: 4px;
}
.comment_box {
    margin: 5px 0 8px 0;
    position: relative;
}
.more_box {
    margin-right: 6px;
    margin-bottom: 5px;
    text-align:center;
    height:30px;
}
.comment_text, .post_text, .message_text {
    padding-left:5px;
    padding-right:5px;
    margin-right: 30px;
    min-height: 28px;
    white-space: pre-wrap;
    overflow-x: auto;
}

.post_text {
    display:inline-block;
    vertical-align:top;
    padding-top:0;
    margin-top:0;
    min-height: 46px;
}

.post_thumb {
    position: absolute;
    left: 0;
    width:70px;
    height:auto;
    padding-left: 6px;
    padding-top: 3px;
}

.post_container {
    padding-top: 3px;
}

.post_info {
    margin-top: 5px;
    padding-left:5px;
    vertical-align: bottom;
}

.post_info i, .post_info .distinguish_flag {
    font-size: 12px;
}

.post_domain, .post_score, .comment_count {
    font-size: 12px;
}

.comment_replies, .message_replies {
    margin-left:6px;
    margin-right:-2px;
}

.message_subject {
    padding-left: 5px;
    padding-right: 5px;
}

.comment_message_subject {
    margin-right: 30px;
    font-size: 12px;
}

.message_type {
    display: inline-block;
    font-size: 13px;
    white-space: pre;
    padding-left:0;
    margin-left:0;
}

.comment_scores {
    display:inline;
    padding:0;
    margin:0;
    font-size: 12px;
}
.distinguish_flag {
    display:inline;
    color:#4166E5;
    padding:0;
}
.vote {
    width: 26px;
    position: absolute;
    right: 0;
    top: 5px;
    text-align: right;
    margin-right: 6px;
    z-index: 100;
}
.comment_info span {
    font-size: 16px;
    padding-left:5px;
}
.message_comment_info {
    margin-right:30px;
}
.reply_expand {
    visibility:hidden;
    text-align:center;
    margin-left:6px;
    height:28px;
    margin-right:-2px;
    margin-bottom:-2px;
    margin-top:10px;
    padding-top:2px;
}
.reply_expand h5 {
    float:left;
}
h5, h6 {
    margin:0;padding:5px;
}

.comment_options {
    text-align: right;
    float:right;
    display:inline;
    margin-top:16px;
    margin-right:6px;
}

.comment_account_options {
    text-align: right;
    display:inline;
    position: absolute;
    right: 0;
    bottom:0;
    margin-top:16px;
    margin-right:6px;
}

.post_options {
    position: absolute;
    right: 6px;
    bottom: 0;
    z-index: 100;
}

.message_comment_options, .message_options {
    text-align: right;
    margin-top:6px;
    margin-right:6px;
    margin-bottom:4px;
}

.post_reply, .message_reply {
    margin-left:6px;
    margin-right:5px;
    margin-top:8px;
}

textarea {
    border: 2px solid #FFF;
    border-radius: 4px;
    width:100%;
    margin-right:4px;
    margin:0 0 0 0;
    box-sizing:border-box;
    border-bottom-left-radius:0;
    text-decoration: none;
}

button {
    position:relative;
    top:-5px;
    border:2px solid #2D71B0;
    /*-webkit-border-radius: 4px;*/
    border-radius: 3px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    margin:0 !important;
    padding: 6px 6px 6px 6px;
    text-decoration:none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color: #FFFFFF;
    background-color: #6AABE8;
    /*background-image:-webkit-gradient(linear, left top, left bottom, from(#6AABE8), to(#5F99CF));*/
    /*background-image: -webkit-linear-gradient(top, #6AABE8, #5F99CF);*/
    background-image: linear-gradient(to bottom, #6AABE8, #5F99CF);
}

button:active {
    border:1px solid #317BBF;
    background-color: #5E98CF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5E98CF), to(#4F7EAB));
    background-image: -webkit-linear-gradient(top, #5E98CF, #4F7EAB);
    background-image: linear-gradient(to bottom, #5E98CF, #4F7EAB);
}

#loading_view {
    position: fixed;
    top: 200px;
    width: 100%;
    height: 50px;
    text-align: center;
}
#loading_view h4 {
    text-align: center;
}
#header {
    background-color: #5F99CF;
    background: linear-gradient(#7BA7CE, #5F99CF); /* Standard syntax */
    color: #DBDBDB;
    height:32px;
    padding: 5px;
    width: 100%;
    top:0;
    margin: 0 0 5px 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
#header div {
    margin: 0 40px 0 45px;
    padding: 0;
}
.comments_header select {
    height: 22px;
    border: 0;
    width: 100%;
    vertical-align: top;
}
.comments_header label {
    position: absolute;
    left: 5px;
}
#header i {
    position: absolute;
    right: 5px;
    margin-top: 2px;
    margin-right: 10px;
}
*:focus {
    outline:0px none transparent;
}
a {
    color: #009bff;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
.fa-reply {
    color: #C3DBF6;
}
.fa-pencil {
    color: #25C48F;
}
.fa-globe {
    color: #B8B8B8;
}
.fa-trash, .fa-times {
    color:#E06B6C;
}
.fa-arrow-up {
    color:#A5A5A5;
    margin-bottom: 4px;
}
.fa-arrow-down {
    color:#A5A5A5;
}
.comment_options i, .comment_account_options i, .message_options i, .message_comment_options i {
    font-size: 24px;
}
.remove_option {
    font-size: 28px !important;
}
.user_option {
    display:none;
    padding-left:4px;
}
.comment_text textarea {
    margin-top:4px;
}
#context_select, #context_sort_select {
    height: 22px;
    width: auto;
    display: inline-block;
    border: 0;
    vertical-align: top;
}
#post_comment {
    margin-top: 10px;
    margin-bottom: 0;
}
.md p {
    margin-top:5px;
    margin-bottom:5px;
    padding-top:0;
    padding-bottom:0;
}
pre {
    overflow-y: scroll;
}